* {
    margin: 0 auto;
    background: #fff8dc;
    font-family: "Arial", sans-serif;
}

.article {
    max-width: 680px;
    padding: 24px;
}

.article__heading {
    margin: 0 0 24px 0;
    color: #d87093
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
    margin-bottom: 16px;
}

.article__figure {
    margin-top: 16px;
}

.figure__image {
    margin: 0;
}

.figure__caption {
    text-align: center;
    margin-top: 8px;
    font-style: italic;
}